.page-title {
    position: relative;
    padding: 5px 0;
    text-align: center;
    color: black;
}

.page-title:hover {
    color: #ae8e61;
}

.page-title::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 7%;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
}

.page-title::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 7%;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
}

.room-photos {
    max-width: 500px;
    margin: 0 auto;
    padding: 5px 0;
}

.room-photo-full img,
.room-photo-small img {
    width: 100%;
} 

.room-information-title {
    padding: 5px 0;
    text-align: center;
    color: black;
}

.room-information-title:hover {
    color: #ae8e61;
}

.room-description {
    padding: 5px 0;
    font-style: italic;
    line-height: 20px;
    font-size: 1.1rem;
}

.room-book {
    display: flex;
    justify-content: center;
}

.room-price,
.button  {
    text-align: center;
    padding: 5px;
    color: black;
}

.room-price {
    margin-right: 10px;
    background-color: #fff;
}

.button {
    margin-left: 10px;
    background-color: #90b2d0;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #ae8e61;
  color: #fff;
}

.room-information h3 {
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.room-information h3:hover {
    color: #ae8e61;
}

.room-set {
    padding-bottom: 10px;
}

.room-set li {
    position: relative;
    padding-left: 20px;
}

.room-set li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
} 

@media (min-width: 768px) {
    .page-title {
        padding: 25px 0;
        text-transform: uppercase;
    }
    
    .page-title::before {
        top: 40%;
        left: 15%;
        width: 12px;
        height: 12px;
    }
    
    .page-title::after {
        top: 40%;
        right: 15%;
        width: 12px;
        height: 12px;
    }

    .room-columns {
        display: flex;
        padding: 10px 0;
    }

    .room-photos {
        width: 60%;
        max-width: 600px;
        padding: 0 10px;
    }

    .room-photo-full {
        padding: 5px 0;
    }

    .room-photo-small {
        display: flex;
        justify-content: space-between;
    }

    .room-photo-small img {
        max-width: 200px;
    }

    .room-active {
        border: 2px solid #90b2d0;
    }

    .room-information {
        width: 40%;
        padding: 0 20px;
    }

    .room-information-title {
        padding: 10px 0;
    }
    
    .room-book {
        justify-content: flex-start;
        margin: 10px 0;
    }
    
    .room-price,
    .button  {
        padding: 10px;
    }

    .room-set {
        padding: 0;
    }

    .room-set li {
        text-transform: uppercase;
    }

    .room-set li:hover {
        color: #ae8e61;
    }

}


@media (min-width: 1024px) {
    .page-title {
        padding: 50px 0;
    }
    
    .page-title::before {
        top: 45%;
        left: 15%;
        width: 15px;
        height: 15px;
    }
    
    .page-title::after {
        top: 45%;
        right: 15%;
        width: 15px;
        height: 15px;
    }
}